
#
# Module configuration file for
# 3CSD_Sandoval
# (com.3csd_sandoval.3csdsandoval)
#

displayname: 3CSD_Sandoval
moduletype: widgetapplication
depends: com.eqela.libcommonwidget
depends: com.eqela.libtextinputwidget
depends: com.eqela.libselectorwidget
depends: com.eqela.libdialogwidget
depends: com.eqela.libpopupwidget
depends: com.eqela.libapplicationdata